{% extends "base.html" %}
{% block title %}Suche{% endblock %}
{% block content %}
<h1>Suchbegriffe eingeben</h1>
<div>
	<form action="#" method="post">
		<h5>Level (mehrfache Auswahl möglich):</h5>
		<input type="checkbox" name="lvl_checkbox" value="A1.1">
		<label for="checkbox"> A1.1</label>
		<input type="checkbox" name="lvl_checkbox" value="A1.2">
		<label for="checkbox"> A1.2</label>
		<input type="checkbox" name="lvl_checkbox" value="A2.1">
		<label for="checkbox"> A2.1</label>
		<input type="checkbox" name="lvl_checkbox" value="A2.2">
		<label for="checkbox"> A2.2</label>
		<input type="checkbox" name="lvl_checkbox" value="B1.1">
		<label for="checkbox"> B1.1</label>
		<input type="checkbox" name="lvl_checkbox" value="B1.2">
		<label for="checkbox"> B1.2</label>
		<input type="checkbox" name="lvl_checkbox" value="B2.1">
		<label for="checkbox"> B2.1</label> 
		<input type="checkbox" name="lvl_checkbox" value="B2.2">
		<label for="checkbox"> B2.2</label>
		<input type="checkbox" name="lvl_checkbox" value="C1.1">
		<label for="checkbox"> C1.1</label> 
		<input type="checkbox" name="lvl_checkbox" value="C1.2">
		<label for="checkbox"> C1.2</label>
		<input type="checkbox" name="lvl_checkbox" value="C2.1">
		<label for="checkbox"> C2.1</label>
		<input type="checkbox" name="lvl_checkbox" value="C2.2">
		<label for="checkbox"> C2.2</label>
	
		<h5>Grammatisches Thema:</h5>
		<p>
			<input type="text" class="grammar" name="grammar" placeholder="Z.B. Dativ"/>
		</p>
		<h5>Allgemeines Thema:</h5>
		<p>
			<input type="text" class="theme" name="theme" placeholder="Z.B. Einkaufen"/>
		</p>
		<p><input type="submit" value="Suchen" /></p>
	</form>
</div>
{% endblock %}