{% extends "base.html" %}
{% block title %}Suche{% endblock %}
{% block content %}
<h1>Suchbegriffe eingeben</h1>
<div>
	<form action="#" method="post">
		<p>Level (mehrfache Auswahl möglich):</p>
		<p>
		<div>
			<ul id="selectedItems"></ul>
			<input type="hidden" id="selectedItemsValue" name="selectedItemsValue"  />
			<input type="text" class="level" name="lvl0" placeholder="Z.B. A1.1 oder C2" />
		</div>
		</p>
		<p>Grammatisches Thema:</p>
		<p>
			<input type="text" class="grammar" name="grammar" />
		</p>
		<p>Allgemeines Thema:</p>
		<p>
			<input type="text" class="theme" name="theme" />
		</p>
		<p><input type="submit" value="Suchen" /></p>
	</form>
</div>
{% endblock %}